@model Usuario

<h1>Realize a Edição do Usuário</h1>

<form action="EditarUsuario" method="post" class="col-md-4">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input type="text" asp-for="Nome" id="userNome" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
        <label asp-for="Login">Login</label>
        <input type="text" asp-for="Login" id="userLogin" class="form-control" placeholder="Login">
    </div>
    <div class="form-group">
        <label asp-for="Senha">Senha</label>
        <input type="text" asp-for="Senha" id="userSenha" class="form-control" placeholder="Senha">
    </div>

    <div class="form-group">
        <label asp-for="Tipo">Tipo</label>
        <select asp-for="Tipo" id="userTipo" class="form-control">
            <option value="@Usuario.Admin">Administrador</option>

            <option value="@Usuario.Padrao">Padrão</option>
        </select>

        <input type="hidden" asp-for="Id" />

    </div>

    <input type="submit" value="CONCLUIR EDIÇÃO" class="btn btn-primary">

</form>



